<!DOCTYPE html>
<html lang="en" ng-app="toDoApp">

<head>
    <title>ToDo application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="../angular.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-controller="toDoCtrl as c">

        <h1>ToDo application</h1>
        <p>Add a ToDo:</p>
        <input type="text" ng-model="c.toDo">
        <button type="submit" ng-click="c.addToDo(c.toDo)">Add</button>

        <p>Your toDos:</p>
        <button type="submit" ng-show="c.toDoEdit" ng-click="c.editToDoList(c.toDoEdit)">Edit</button>
        <button type="submit" ng-hide="c.toDoEdit" ng-click="c.updateToDoList(c.toDoList)">Done</button>

        <p ng-repeat="i in c.toDoList">
            {{$index + 1}}. <span ng-bind="i.toDo" ng-show="c.toDoEdit"> </span>
            <button type="submit" ng-click="c.deleteToDo($index)" ng-show="c.toDoEdit">Delete</button>
            <input type="text" ng-model="i.toDo" ng-hide="c.toDoEdit">
        </p>

    </div>
</body>

</html>