<!DOCTYPE html>
<html lang="en" ng-app="ngShow-test">

<head>
    <title>Some directives</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="../angular.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <h1>Some directives</h1>

    <div ng-controller="ngShowController as c">
        <input type="checkbox" ng-model="c.checked">
        <p ng-show="c.checked">1. Some text</p>
        <p ng-hide="c.checked">2. Some text</p>

        <div ng-repeat="i in c.myList">
            <p>{{$index + 1 }}. Name is {{i.name}} and age is {{i.age}}</p>
        </div>

    </div>

</body>

</html>